.blog {
  margin-left: 0px;
}
.blog-date {
  font-size: 14px;
  text-decoration: none;
}
.blog h2 {
  font-family: 'Josefin Sans', sans-serif;
  font-size: 30px;
  margin: 20px 0 20px 0;
  text-align: left;
}
